{% extends "layout.html" %}
{% block graphs %}

<title>home IoT</title>


<div class="container">
  <nav class="nav justify-content-end" style="margin-bottom: 50px;">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">houme IoT</a>
    <a class="nav-link" href="#">analytics</a>
  </nav>
</div>



<div class="container">

  <div class="row"style="margin-bottom: 50px;">
    <div class="col">
      <div id="temp" style="margin-bottom: 50px;"><h4>temperature</h4><h3 id="tmp"></h3></div>
      <div id="humidity" style="margin-bottom: 50px;"><h4>humidity</h4><h3 id="hum"></h3></div>

  </div>



        <div class="col">
          <h4>lights brasil</h4>
          <div class="btn-group" role="group" aria-label="lights1" id="switch1">
            <button onclick="changeState(event)" id="on" type="button" class="btn btn-outline-secondary">On</button>
            <button onclick="changeState(event)" id="off" type="button" class="btn btn-outline-secondary">Off</button>

            <!-- <button type="button" class="btn btn-outline-secondary" id="on">On</button>
            <button type="button" class="btn btn-outline-secondary" aria-pressed="false" id="off">Off</button> -->

          </div>
      </div>
      </div>


    <div class="row">
      <div class="col"  >
            <div id="myplot"><p>temperature</p></div>
    </div>

    <div class="col">
          <div id="myplot2" style="margin-bottom: 50px;"><p>humidity</p></div>
    </div>
  </div>
</div>

<!-- <div class='bokeh'>
    {{div|safe }}
    {{script|safe }}
</div> -->




  <!-- <script>
  fetch('/temp_out')
    .then(function(response) {
      return response.json()
    // Your code for handling the data you get from the API
  })
    .then(function(result) {

      var temp = document.getElementById("tmp").innerText = result;

  })
    // .then(function(json) { console.log(json); })

  </script> -->


  <script>

    const button_pressed = "btn btn-outline-secondary active"
    const button_default = "btn btn-outline-secondary"

    function changeState(event) {
      // reusable function working as a switch. Works with bootstrap button elements
      // every button needs unique ID, the rest is auto.

      var which_switch = event.target;
      var which_id = which_switch.id;
      var which_parent = which_switch.parentElement.id;

      if (which_switch.className == button_default){
        document.getElementById(which_id).className = button_pressed;
        var toggle0 = document.getElementById(which_parent).children[0].id;
        var toggle1 = document.getElementById(which_parent).children[1].id;
        if (which_id == toggle1){
          document.getElementById(toggle0).className = button_default;
        } else {
          document.getElementById(toggle1).className = button_default;
        }
      } else {
        document.getElementById(which_id).className = button_default;
      }
    }

  </script>


  <script>
    const context = document.getElementById('tmp').innerText;
    // const hum = document.getElementById('hum').innerText;
    const source = new EventSource("/stream");

    source.onmessage = function (event) {
      const data = JSON.parse(event.data);
      // const data_hum = JSON.parse(event.data);
      // var data = JSON.parse(event.data);
      console.log(JSON.stringify(data));
      document.getElementById("tmp").innerText = data.temp;
      document.getElementById("hum").innerText = data.hum;
    }

  </script>

  <script>
  fetch('/pl')
    .then(function(response) { return response.json(); })
    .then(function(item) { Bokeh.embed.embed_item(item, "myplot"); })
  </script>
  <script>
  fetch('/pl2')
    .then(function(response) { return response.json(); })
    .then(function(item) { Bokeh.embed.embed_item(item, "myplot2"); })
  </script>


{% endblock graphs%}
