{% extends "layout.html" %}
{% block graphs %}

<title>home IoT</title>

<nav class="nav" style="margin-bottom: 50px;">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">houme IoT</a>
  <a class="nav-link" href="#">analytics</a>
</nav>



<div class="container">

  <div class="row">
      <div class="col" style="margin-bottom: 50px;">
        <h4>lights cortyard</h4>
        <div class="btn-group" role="group" aria-label="lights1">
          <button type="button" class="btn btn-secondary">On</button>
          <button type="button" class="btn btn-secondary">Off</button>
        </div>
      </div>

      <div class="col"></div>
  </div>



    <div class="row">
      <div class="col"  >
            <div id="myplot"><p>temperature</p></div>
    </div>

    <div class="col">
          <div id="myplot2" style="margin-bottom: 50px;"><p>humidity</p></div>
    </div>
  </div>
</div>

<!-- <div class='bokeh'>
    {{div|safe }}
    {{script|safe }}
</div> -->




  <script>
  fetch('/pl')
    .then(function(response) { return response.json(); })
    .then(function(item) { Bokeh.embed.embed_item(item, "myplot"); })
  </script>
  <script>
  fetch('/pl2')
    .then(function(response) { return response.json(); })
    .then(function(item) { Bokeh.embed.embed_item(item, "myplot2"); })
  </script>


{% endblock graphs%}
